In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [5]:
ans1 = df['Sex'].value_counts()
print(ans1)

male      577
female    314
Name: Sex, dtype: int64

In [6]:
with open('q1_sex', 'w') as f:
    f.write('{count_male} {count_female}'.format(
        count_male=ans1['male'], 
        count_female=ans1['female']
    ))

In [7]:
def toFixed(numObj, digits=0):
    return f"{numObj:.{digits}f}"

In [8]:
ans2 = df['Survived'].map({1:'alive', 0:'dead'}).value_counts()
print(ans2)

alive_percent = 100 * ans2['alive'] / (ans2['alive'] + ans2['dead'])
print()
print(alive_percent)

dead     549
alive    342
Name: Survived, dtype: int64

38.38383838383838

In [9]:
with open('q2_alive_stat', 'w') as f:
    f.write(str(toFixed(alive_percent, 2)))

In [10]:
ans3 = df['Pclass'].value_counts(normalize=True)
print(ans3)

3    0.551066
1    0.242424
2    0.206510
Name: Pclass, dtype: float64

In [11]:
with open('q3_pstat', 'w') as f:
    f.write(str(toFixed(ans3[1] * 100, 2)))

In [12]:
ans4 = df['Age'].mean(), df['Age'].median()
print(ans4)

(29.69911764705882, 28.0)

In [13]:
print('{} {}'.format(*ans4))
with open('q4_agestat', 'w') as f:
    f.write('{} {}'.format(*ans4))

29.69911764705882 28.0

In [14]:
ans5 = df['SibSp'].corr(df['Parch'])
print(ans5)

0.41483769862015557

In [15]:
with open('q5_corr', 'w') as f:
    f.write(str(ans5))

In [16]:
tmp = df[df['Sex'].map({'male': False, 'female': True})]['Name']

In [17]:
import re

pattern1 = r'\(.*? '
pattern2 = r'\. .*? '

tmp_df = []
for i in tmp:
    search = re.findall(pattern1, i)
    cur_name = None
    if search:
        cur_name = search[0][1:-1]
    else:
        search = re.findall(pattern2, i)
        if search:
            cur_name = search[0][2:-1]

    if cur_name is not None:
        tmp_df.append(cur_name)

new_df = pd.DataFrame(tmp_df, columns=['FemaleNames'])
print(new_df.head())
ans6 = new_df['FemaleNames'].value_counts()
print(ans6.idxmax())

  FemaleNames
0    Florence
1        Lily
2   Elisabeth
3       Adele
4  Marguerite
Anna

In [18]:
with open('q6_pop_name', 'w') as f:
    f.write(ans6.idxmax())