# Decisoin tree
----

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## AIM: | `Who will survive?` |

In [4]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier as DTC

In [5]:
X = pd.concat([df['Survived'], df['Pclass'], df['Sex'].map({'male':1, 'female': 0}), df['Age'], df['Fare']], axis=1)
X = X.dropna()
print(X)
y = pd.DataFrame(X['Survived'], columns=['Survived'])
X = X.drop(columns=['Survived'])
print(X)
print(y)

             Survived  Pclass  Sex   Age     Fare
PassengerId
1                   0       3    1  22.0   7.2500
2                   1       1    0  38.0  71.2833
3                   1       3    0  26.0   7.9250
4                   1       1    0  35.0  53.1000
5                   0       3    1  35.0   8.0500
...               ...     ...  ...   ...      ...
886                 0       3    0  39.0  29.1250
887                 0       2    1  27.0  13.0000
888                 1       1    0  19.0  30.0000
890                 1       1    1  26.0  30.0000
891                 0       3    1  32.0   7.7500

[714 rows x 5 columns]
             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    0  38.0  71.2833
3                 3    0  26.0   7.9250
4                 1    0  35.0  53.1000
5                 3    1  35.0   8.0500
...             ...  ...   ...      ...
886               3    0  39.0  29.1250
887               2    1  27.0  13.0000
888               1    0  19.0  30.0000
890               1    1  26.0  30.0000
891               3    1  32.0   7.7500

[714 rows x 4 columns]
             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0
...               ...
886                 0
887                 0
888                 1
890                 1
891                 0

[714 rows x 1 columns]

In [6]:
clf = DTC(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=241, splitter='best')

In [7]:
clf.feature_importances_

array([0.14000522, 0.30051221, 0.2560461 , 0.30343647])

In [8]:
'Sex Fare'

'Sex Fare'

In [9]:
with open('important_features', 'w') as f:
    f.write('Sex Fare')